# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Got two types : - integer like : 1 , 12 , 145
                         - float like : 2.5 , 3.75 , 5.0 
        , Uses some arithmetic operators like : addition, subtraction, multiplication, division, exponent, floor division and         , modulus         
        , Got some functions like: - int ()    # to convert from string - like :("10") - or float - like: (9.5) - to integer
                                    - float()   # to convert from string - like :("2.5") - or integer - like: (12) - to float
                                    - abs()     # gives he absolute value of the inserted number
                                    
Strings: Is any ordered sequence of characters between " " or ' ' like : "python"
        - Got some printing features like :( end = " " ), ( \n ) and ( \t )
        - Got index that starts from (0) to the end of the string or from (-1) to the Beginning of the string
        - Got slicing which allowing you to print a specific part of the string or even reverse it
        - Got some properties like : concatenation and repetition
                       
Lists: ordered sequence of objects like : ["python", 15, 44.5]

Tuples: ordered immutable sequence of objects like : ("python", 15, 44.5)

Dictionaries: unordered key;value pairs like : {"pyhton":"nice,"juice":5}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [10]:
x = 10.5 * 2 ** 4 / 3 + 50 - 5.75
x

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 4 * 11 = 44
    
    What is the value of the expression 4 * 6 + 5 = 24 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 4 + 30 = 34

In [3]:
x1 = 4 * (6 + 5)
x1

44

In [4]:
x2 = 4 * 6 + 5
x2

29

In [5]:
x3 = 4 + 6 * 5
x3

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [7]:
x4 = 3 + 1.5 + 4
type(x4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root: number ** 0.5

In [ ]:
# Square:  number ** 2

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [48]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [12]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [14]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [15]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [25]:
# Method 1:
my_list1 = [0,0,0]
my_list1

[0, 0, 0]

In [3]:
# Method 2:
my_list2 = []
my_list2.append(0)
my_list2.append(0)
my_list2.append(0)
my_list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [31]:
list3 = [1,2,[3,4,'hello']]
list3[2].remove('hello')
list3[2].append('goodbye')
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [32]:
list4 = [5,3,4,6,1]
sorted(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [33]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [34]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [35]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [36]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

In [46]:
#  you cant sort a dictionary because it is keys and values

## Tuples

What is the major difference between tuples and lists?<br><br>

In [44]:

# in list it's possible update/change the value of
# any object unlike tuple which is immutable

How do you create a tuple?<br><br>

In [40]:
# using () and insering values with , between em
y = ("python", 5, 3.5)
type(y)

tuple

## Sets

What is unique about a set?<br><br>

In [45]:
# got a special property 
# that rejects any repeated values which allows it
# to have only unique values

Use a set to find the unique values of the list below:

In [41]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
z = set(list5)
z

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [16]:
# Answer before running cell : False
2 > 3

False

In [17]:
# Answer before running cell : False
3 <= 2

False

In [18]:
# Answer before running cell : False
3 == 2.0

False

In [19]:
# Answer before running cell : True
3.0 == 3

True

In [20]:
# Answer before running cell : False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [1]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? (3 >= 4 : False)
l_one[2][0] >= l_two[2]['k1']

False

# Great Work!